*{margin-left: 0;
    margin-top:0;
    margin-right:0;
    margin-bottom: 0;
}
header{
    visibility: visible;
    width: 100%;
    position: fixed;
    background-color: rgba(54, 54, 54, 0.74);
    font-family: 'Cairo', sans-serif;
    text-align: center;
    color: white;
    height: 10%;
    font-size: 26px;
    background-image: url("./!rastergrafik.png");
}

button{
    background-color: rgba(225,225,225,0);
    border-style:none; 
    color:white
}
#Catgroupcenter{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-color: rgba(255, 255, 255, 0);
}
.CatgroupBUTTON{
   color: white;
   border-style: none;
   background-color: rgba(255, 255, 255, 0);
   font-family: 'Righteous', cursive;
   font-size: 100px;
   background: linear-gradient(to right, rgb(255, 255, 255) 20%, #2f00ff 30%, #6f00ff 70%, rgb(255, 255, 255) 80%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   /*text-fill-color: transparent;*/
   background-size: 200% auto;
   animation: textShine 7s ease-in-out infinite alternate;
 }
 
 @keyframes textShine {
   to {
     background-position: 200%;
   }
}
.CatgroupBUTTON:hover{
   background-image: url("./!rastergrafik.png");
   background-size:801px, 128px ;
}

#backgroundvideo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    overflow:hidden;
    z-index:-1000;
    background-color: black;
}
