*{margin-left: 0;
    margin-top:0;
    margin-right:0;
    margin-bottom: 0;
}
header{
    visibility: visible;
    width: 100%;
    background-color:rgb(52, 60, 60);
    font-family: 'Righteous', cursive;
    color: white;
    height: 10%;
    font-size: 35px;
    text-align: center;
}
header:hover{
    background-color:rgba(52, 60, 60, 0.555) ;
}
#Catgroupleft{
    text-align: center;
}
#div1{
    visibility: visible;
    background-color: rgba(54, 54, 54, 0.74);
    background-attachment: fixed;
    font-family: 'Rye', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    right: 10px;
}
#Contact{
    float:right;
    visibility: visible;
    background-color: rgba(54, 54, 54, 0.74);
    background-attachment: fixed;
    height: 100%;
    width: 18%;
    font-size:  20px;
    font-family: 'Rye', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:5px 5px 5px  rgb(52, 60, 60) ; 
    border-radius: 5px;
    right: 10px;

}
.BM{
    background-color:rgb(52, 60, 60);
    font-size: 20px;
    font-family: 'rye', cursive;
    border-radius: 10px;
}
.BM:hover{
    font-size: 21px;
    background-color: rgb(133, 133, 133);
    border-radius: 5px; 
}
body{
    background-image:url("!earphones.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
button{
    background-color: rgb(52, 60, 60);
    border-style:none; 
    color:white
}
#Catgroupcenter{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-color: rgba(255, 255, 255, 0);
}
.CatgroupBUTTON{
   color: white;
   border-style: none;
   background-color: rgba(255, 255, 255, 0);
   font-family: 'Righteous', cursive;
   font-size: 100px;
   background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgb(39, 246, 241) 30%, rgb(0, 255, 242) 70%, rgb(255, 255, 255) 80%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   /*text-fill-color: transparent;*/
   background-size: 200% auto;
   animation: textShine 7s ease-in-out infinite alternate;
   text-shadow: 10px, 10px;
 }
 @keyframes textShine {
   to {
     background-position: 200%;
   }
}
a:link{
    color:rgb(203, 203, 255);
    text-decoration: none;
}  
a:visited{
    color: white;
    text-decoration: none;
}
a:active{
    color:rgb(0, 153, 255);
    font-weight: bold;
}