    *{margin-left: 0;
    margin-top:0;
    margin-right:0;
}

header{
    visibility: visible;
    width: 100%;
    background-color:rgb(52, 60, 60);
    font-family: 'Righteous', cursive;
    color: white;
    height: 22%;
    font-size: 26px;
}
#Catgroupleft{
    text-align: center;
}
#div1{
    visibility: visible;
    background-color: rgba(54, 54, 54, 0.74);
    background-attachment: fixed;
    height: 100%;
    width: 18%;
    font-size:  20px;
    font-family: 'Rye', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:5px 5px 5px  rgb(52, 60, 60) ; 
    border-radius: 5px;
    right: 10px; ; 
}

body{
background-image: url("!bckgrnd.png");
}

#PS{
color: white;
font-family: 'Rye', cursive;
}
.BM{
    background-color:rgb(52, 60, 60);
    font-size: 20px;
    font-family: 'rye', cursive;
    border-radius: 10px;
    border-style: none;
}
.BM:hover{
    font-size: 21px;
    background-color: rgb(133, 133, 133);
    border-radius: 5px; 
}
a:link{
    color:rgb(203, 203, 255);
    text-decoration: none;
}  
a:visited{
    color: white;
    text-decoration: none;
}
a:active{
    color:rgb(0, 153, 255);
    font-weight: bold;
}
#More{
    color: white;
    font-family: 'rye', cursive;   
    font-size: 30px; 
}
.MoreM{
    font-size:  30px;
    background-color: rgba(43, 43, 43, 0.281);
    border-style: groove;
    border-radius: 15px;
}
.MoreM:hover{
    border-radius: 5px;
}
#MoreY{
    color:red ;
    border-color: red;
}
#MoreY:hover{
    background-color: red;
    border-color: white;
}
#MoreS{
    color: orange;
    border-color: orange;
}
#MoreS:hover{
    background-color: orange;
    border-color: white;
}