*{margin-left: 0;
    margin-top:0;
    margin-right:0;
    margin-bottom: 0;
}
header{
    visibility: visible;
    width: 100%;
    position: fixed;
    background-color: rgba(54, 54, 54, 0.74);
    font-family: 'Cairo', sans-serif;
    text-align: center;
    color: white;
    height: 10%;
    font-size: 26px;
    background-image: url("!rastergrafik.png");
    text-shadow:10px 10px 10px  rgba(255, 255, 255, 0.466) ; 
}

button{
    background-color: rgba(225,225,225,0);
    border-style:none; 
    color:white
}
#Catgroupcenter{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-color: rgba(255, 255, 255, 0);
}
.CatgroupBUTTON{
   color: white;
   border-style: none;
   background-color: rgba(255, 255, 255, 0);
   font-family: 'Righteous', cursive;
   font-size: 100px;
   background: linear-gradient(to right, rgb(255, 255, 255) 20%, #2f00ff 30%, #6f00ff 70%, rgb(255, 255, 255) 80%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   /*text-fill-color: transparent;*/
   background-size: 200% auto;
   animation: textShine 7s ease-in-out infinite alternate;
   text-shadow: 10px, 10px;
 }
 
 @keyframes textShine {
   to {
     background-position: 200%;
   }
}
.CatgroupBUTTON:hover{
   background-image: url("!rastergrafik.png");
   background-size:801px, 128px ;
}

#backgroundvideo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    overflow:hidden;
    z-index:-1000;
    background-color: black;
}
#div1{
    visibility: visible;
    float:right;
    background-color: rgba(54, 54, 54, 0.74);
    background-attachment: fixed;
    height: 100%;
    width: 18%;
    font-size:  20px;
    font-family: 'Rye', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:5px 5px 5px  rgba(255, 255, 255, 0.466) ; 
    border-radius: 5px;
    background-image: url("!rastergrafik.png");
}
.BM{
    background-color: rgba(0, 0, 0, 0.253);
    font-size: 20px;
    font-family: 'rye', cursive;
    border-radius: 10px;
}
.BM:hover{
    font-size: 21px;
    background-color: rgb(133, 133, 133);
    border-radius: 5px; 
}
a:link{
    color:rgb(203, 203, 255)
}  
a:visited{
    color: white
}
a:active{
    color:rgb(0, 153, 255)
}
