*{margin-left: 0;
    margin-top:0;
    margin-right:0;
    margin-bottom: 0;
}
header{
    visibility: visible;
    width: 100%;
    background-color:rgb(52, 60, 60);
    font-family: 'Righteous', cursive;
    color: white;
    height: 17%;
    font-size: 26px;
    text-align: center ;
    list-style: none;
}
/*header:hover{
    background-color:rgba(52, 60, 60, 0.555) ;*/
#Catgroupleft{
    text-align: center;
}
#div1{
    visibility: visible;
    background-color: rgba(54, 54, 54, 0.74);
    background-attachment: fixed;
    height: 100%;
    width: 18%;
    font-size:  20px;
    font-family: 'Rye', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:5px 5px 5px  rgb(52, 60, 60) ; 
    border-radius: 5px;
    right: 10px; ; 
}


button{
    background-color: rgba(225,225,225,0);
    border-style:none; 
    color:white
}
#About{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Rye', cursive;
    font-size: 20px;
    background-color: rgba(58, 58, 58, 0.514);
    margin: 30px;
}


#backgroundvideo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    overflow:hidden;
    z-index:-1000;
    background-color: black;
}
.BM{
    background-color:rgb(52, 60, 60);
    font-size: 20px;
    font-family: 'rye', cursive;
    border-radius: 10px;
}
.BM:hover{
    font-size: 21px;
    background-color: rgb(133, 133, 133);
    border-radius: 5px; 

}
a:link{
    color:rgb(203, 203, 255);
    text-decoration: none;
}  
a:visited{
    color: white;
    text-decoration: none;
}
a:active{
    color:rgb(0, 153, 255);
    font-weight: bold;
}